/*
Custom Discord theme
P0ison_Green
Designed by C3RO
*/


.guilds-wrapper {
    background: #080808;
      
}

.guild-inner /*Guild server panel*/{
    background-color: #00B121 !important;  
    opacity: 0.8;
    border: 2px solid green;
}

.guilds-wrapper .guilds .friends-icon {
 	background-image: url('https://i.imgur.com/A8nXXfP.png');
 	background-color: #00B121 !important;  
 	background-size: 100%;
 	background-position: 50%;
 	background-repeat: no-repeat;
    
}


.header-1tSljs /*Server Name Wrapper*/{
 	background-color: #080808;
  	border-bottom: 2px solid #00b121;
    opacity: 0.8;
}

.container-iksrDt /*User settings wrapper*/{
	background-color: #080808;    
}


.container-3lnMWU /* Voice control wrapper*/{
   background-color: #080808;
    
   
}

.scroller-fzNley /*Server Channels wrapper*/{
 	background-color: #080808;
    opacity: 0.8;
}

.contentSelectedText-3j5CXt{
  	background-color: green;   
}

.channel-members{
    background-color: #080808 !important;
    border-left: 2px solid #00B121;

    
}

 .title-wrap-dark {
  	background-color: #080808;
    border-right: 2px solid #00B121 ;
  
  
}


.theme-dark .inner-3if5cm {
    background-color: #080808;
    border: 2px solid #00B121;
    border-radius: 50px;
    
}

.messages {
 	background-color: #080808;   
    opacity: 0.8;
   
}


.theme-dark .chat>.content {
 	background-color: #080808; 
    opacity: 0.8
  
}

.friends-table-header {
	background-color: #080808 ;
    opacity: 0.9
    
}

/*Left top search bar area*/

.search-bar {
 	background-color: #080808;
  	opacity: 0.8

}

.search-bar input {
	border-radius: 50px; 
   	color: white;
    background-color: none;
    border: 2px solid green;
    padding: 12px;
    height: 35px;
}

.search-bar-inner {
 	border-radius: 50px !important;  
	 color: white;
	 background-color: black;
   
}

/*Friends panel area*/

.friends-table-body{
 	background-color: #080808;   
    opacity: 0.7;
}

.theme-dark #friends .friends-header {
 	background-color: #000;   
 	opacity: 0.6;
}


.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
 	background-color: #00B121 ;
    
}

.theme-dark #friends .friends-table .friends-table-header .friends-column
{ /* Friends table text sections*/
    color: #00B121;
}



.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
   background: linear-gradient(90deg,#00B121 85%,#080808);  
 
}

/*Settings styles*/

.inputDefault-Y_U37D /* MY ACCOUNT SETTINGS INPUTS*/{
  border: 2px solid #00B121 !important; 
  border-radius: 50px;
}

.sidebar-region-scroller {
  border-right: 2px solid #00B121;   
}

